<p id="notice"><%= notice %></p>

<h1>Notes</h1>
<h2><%= @pet.name %></h2>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Datetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= simple_format(note.body) %></td>
        <td><%= note.datetime %></td>
        <td><%= link_to 'Show', pet_note_path(@pet, note) %></td>
        <td><%= link_to 'Edit', edit_pet_note_path(@pet, note) %></td>
        <td><%= link_to 'Destroy', pet_note_path(@pet, note), method: :delete, date: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_pet_note_path %>
