<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @pet.race %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @pet.sex %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @pet.birthday %>
</p>

<p>
  <strong>Greeted On:</strong>
  <%= @pet.greeted_on %>
</p>

<p>
  <strong>Note:</strong>
  <%= simple_format(@pet.note) %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%=
    # TODO: @pet.thumbnail
  %>
</p>

<p>
  <strong>Color:</strong>
  <%= @pet.color %>
</p>
<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
</br>
<%= link_to 'Physicals', pet_physicals_path(@pet) %>
