<p id="notice"><%= notice %></p>

<h1>Physicals</h1>
<h2><%= @pet.name %></h2>

<table>
  <thead>
    <tr>
      <th>Height[cm]</th>
      <th>Weight[kg]</th>
      <th>Note</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physicals.each do |physical| %>
      <tr>
        <td><%= physical.height %></td>
        <td><%= physical.weight %></td>
        <td><%= simple_format(physical.note) %></td>
        <td><%= physical.date %></td>
        <td><%= link_to 'Show', pet_physical_path(@pet, physical) %></td>
        <td><%= link_to 'Edit', edit_pet_physical_path(@pet, physical) %></td>
        <td><%= link_to 'Destroy', pet_physical_path(@pet, physical), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physical', new_pet_physical_path %>
<%= link_to 'Pets', pets_path %>
