<p id="notice"><%= notice %></p>

<h1>Excretes</h1>
<h2><%= @pet.name %></h2>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th>Datetime</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @excretes.each do |excrete| %>
      <tr>
        <td><%= simple_format(excrete.note) %></td>
        <td><%= excrete.datetime %></td>
        <td><%= link_to 'Show', pet_excrete_path(@pet, excrete) %></td>
        <td><%= link_to 'Edit', edit_pet_excrete_path(@pet, excrete) %></td>
        <td><%= link_to 'Destroy', pet_excrete_path(@pet, excrete), method: :delete, datetime: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Excrete', new_pet_excrete_path %>
<%= link_to 'Pets', pets_path %>